# Arquivos de compilação e log
*.class
*.log
*.war
*.ear
*.jar

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
## IntelliJ IDEA
.idea/
*.iml
out/

## Eclipse
*.metadata
*.classpath
*.project
.settings/

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Build tools
## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

## Gradle
.gradle/
build/
!gradle-wrapper.jar
**/build/

# Configurações do sistema operacional
*.swp
*.swo
*.tmp

# Teste
test-output/

# Arquivos de cache
*.log
*.lock
*.tmp
*.bak
*.swp
*.idea/
*.iml
*.class
hs_err_pid*
node_modules/

# Outros
# Arquivos que podem variar dependendo do ambiente
.env
.env.*
.vscode/

